$_main-content-spacing: 35px;

body {
    color: $text-color;
}

// APP LAYOUT STYLES
.app {
    &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: stretch;
    }

    &-side-nav {
        position: fixed;
        height: 100%;
        width: $app-sidebar-width;
        padding: $_main-content-spacing 25px 0;
        background-color: $primary-color-dark;
        background: #203795;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #141A81, #203795);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #141A81, #203795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        @media screen and (max-width: 576px) {
            display: none;
        }

    }

    &-main-content {
        padding: $_main-content-spacing 10px $_main-content-spacing $_main-content-spacing;
        margin-left: $app-sidebar-width;
        width:  600px;
        @media screen and (max-width: 576px) {
            margin-left: 0;
            padding: 10px;
        }
    }

    &-main {
        &-title {
            color: $primary-color;
            font-weight: bold;
            position: relative;

            .app-task__add{
                position: absolute;
                right: 0;
                top: 0;
                background-color: $secondary-color;
                border: none;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);
                
                img {
                    height: 15px;
                    width: 15px;
                }

                &:hover {
                    transform: scale(1.15);
                    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
                }
                
            }
        }
    }
}

//APP LOGIN STYLES
.app {
    &-login {
        &__container {
            height: 100%;
            width: 375px;
            position: fixed;
            background-color: #fafafa;
            padding: 0 30px;
            display: flex;
            align-items: center;
        }

        &__desc {
            width: calc(100% - 375px);
            height: 100%;
            position: absolute;
            top: 0;
            left: 375px;
            background: url('./images/login-bg.jpg') no-repeat;
            background-size: cover;

            @media screen and (max-width: 576px) {
                display: none;
            }
        }

        &__form {
            position: relative;
            input {
                background-color: transparent;
                border-color: transparent;
                border-bottom-color: rgba(0, 0, 0, 0.1);
                border-radius: 0; 
                outline: none;
                padding-top: 15px;

                &:active, &:focus {
                    background-color: transparent;
                    border-color: transparent;
                    border-bottom-color: rgba(0, 0, 0, 0.1);
                    box-shadow: none;
                }

                &:not(:placeholder-shown) + label {
                    transform: translateY(-13px);
                    color: $primary-color;
                    visibility: visible;
                }
            }
            label {
                position: absolute;
                top: 8px;
                left: 13px;
                color: transparent;
                visibility: hidden;
                font-size: 12px;
                opacity: .8;
                transition: all .3s ease;
            }
        }
    }
}

@import 'Components/app-task'